<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <style>
            a {text-decoration: none; color: blue;}
        </style>
    </head>
    <body>
        <h1>Error</h1>
        <p>Invalid text entered</p>
        <a href="/todo">Return to previous page</a>
    </body>

</html>
