<!DOCTYPE html>

<html>
    <head>
        <title>My todolist</title>
        <style>
            a {text-decoration: none; color: black; cursor: pointer}
        </style>
    </head>

    <body>
        <h1>My todolist</h1>
        <ul id="itemlist">
        <% todolist.forEach(function(todo, index) { %>
            <li>
                <div>
                    <script>
                        var editing = false;
                        function hideDisplay(element) {
                            if (editing) {
                                window.alert("Already busy editing!");
                                return;
                            }
                            editing = true;
                            element.parentElement.style.display = "none";
                            element.parentElement.parentElement.childNodes[3].style.display = "block";
                            element.parentElement.parentElement.childNodes[3].visibility = "visible";
                        }
                    </script>
                    <a href="/todo/delete/<%= index %>">✘</a>
                    <%= todo %>
                    <a onClick="hideDisplay(this)">🖉</a>
                </div>
                <div hidden>
                    <form action="/todo/edit/<%= index %>" method="post">
                        <input type="text" name="editContent" id="editContent" autofocus value="<%- todo %>"/>
                        <input type="submit" value="Edit"/>
                        <input type="button" onClick="window.location.reload()" value="Cancel"/>
                    </form>
                </div>
            </li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>

    </body>

</html>
